Library/
Temp/
*.suo
.idea/
/Logs
/obj
/UserSettings
/Server/Server/obj
Assets/Plugins/Editor/JetBrains.meta
/Server/TCPEcho/obj
/Server/TCPEcho/bin
/Server/Common/obj
/Server/Common/bin
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
/Server/TCPEchoMsgHeader/obj
/Server/TCPEchoMsgHeader/bin
/Server/UDPEcho/bin
/Server/UDPEcho/obj
/Server/UDPEchoNumber/obj
/Server/UDPEchoNumber/bin
