Library/
*.sln
*.csproj
Temp/
*.suo
.idea/
/Logs
/obj
/UserSettings
/Server/Server/obj
Assets/Plugins/Editor/JetBrains.meta
/Server/TCPEcho/obj
/Server/TCPEcho/bin
/Server/Common/obj
/Server/Common/bin
